/*

One of the advantages to some lo-fi technologies, like CSS, is that digital
authors can not only execute their discourse or visual design, but leave
behind meaningful, fully human-readable descriptions of the choices made
to bring the discourse or design into being.

And so that's what I've done here: describing the purpose of every single
line of the CSS used in the Lo-Fi Manifesto (with the exception of the
Yahoo! Reset CSS, which basically removes all margin and padding, bolding,
italicizing, etc.)

All of the visual design for the Lo-Fi Manifesto has been achieved in CSS;
the animation effects were done using the MooTools JavaScript library. The
HTML contains only structured content, making it friendly to screen readers,
mobile devices, and even printed pages.

Thanks for taking the time to look at this file. --Karl Stolley, May 2008

*/

/*
==========================================================================
Begin with Eric Meyer's Reset CSS v2.0
==========================================================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
==========================================================================
End Eric Meyer's Reset CSS v2.0
==========================================================================
*/


/*
==========================================================================

The Lo-Fi Manifesto Styles

==========================================================================
*/

/*
  Organizing the styles in roughly the pattern recommended in the book
  *Scalable and Modular Architecture for CSS*, found in partial form
  at https://smacss.com
*/

/*
  First, I want to set up a color palette. The original Lo-Fi Manifesto
  used a CRT/green-screen effect. It was hard on the eyes, so for this
  new version, I'll use the palette from Ethan Schoonover's Solarized
  color palette designed to make text and terminal environments easier
  to read. The full project is at http://ethanschoonover.com/solarized

  Here are the colors, lifted straight from the SASS example on that
  page. I'm not going to use SASS though; I'll just hard-code
  the colors:

      $base03:    #002b36;
      $base02:    #073642;
      $base01:    #586e75;
      $base00:    #657b83;
      $base0:     #839496;
      $base1:     #93a1a1;
      $base2:     #eee8d5;
      $base3:     #fdf6e3;
      $yellow:    #b58900;
      $orange:    #cb4b16;
      $red:       #dc322f;
      $magenta:   #d33682;
      $violet:    #6c71c4;
      $blue:      #268bd2;
      $cyan:      #2aa198;
      $green:     #859900;
*/

/* Base Styles (Basic Element Selectors; Typefaces and Colors) */
html {
  background: #073642; /*
                          Second-darkest Solarized base color.
                       */
  color: #eee8d5; /* Second-brightest Solarized base color */
  font-size: 100%; /* Go with native font-size */
  font-family: "Fira Mono", Menlo, Consolas, "Courier New", Courier, mono;
                                                              /*
                                                                Establish the base typefaces for the
                                                                page. Erik Spiekermann's excellent
                                                                and open-source Fira family will
                                                                do the trick nicely.
                                                              */
  -webkit-text-size-adjust: none; /*
                                     Correct a rendering bug in Safari on iOS that over-inflates
                                     text sizes on a landscape rotation shift.

                                     NOTE: Might remove this property or move into a pixel-density-
                                     based media-query.

                                  */
  -webkit-font-variant-ligatures: no-common-ligatures; /*
                                                          Disable Safari's default of showing
                                                          ligatures, at least for monospaced
                                                          typefaces
                                                       */
}
body { line-height: 1.6; } /* Set up a generous line-height; almost double-spaced */
i,em { font-style: italic; } /*Italicize the em tag*/
b,strong { font-weight: bold; } /* Bold the strong tag */
i,em,b,strong {
  color: #fdf6e3;
}
*:before,*:after {
  color: #93a1a1; /*Darker base color than surrounding text */
  font-weight: normal;
  font-style: normal;
}
i:before,i:after,em:before,em:after {
  content: "*";
}
b:before,b:after,strong:before,strong:after {
  content: "**";
}
h1,h2 {
  color: #cb4b16; /* Orange Solarized accent color */
  font-weight: bold;
}
h1:before,h2:before {
  color: #b58900; /* Yellow Solarized accent color */
}
h1:before {
  content: "#"; /*Compliant browsers will render Markdown-style headings for h1.*/
  padding-right: .6em; /*
                          Better control over spacing with padding, rather than a space in
                          generated content. This sets up fancier styling in media-query-based
                          styles in the State section below.
                       */
}
h2:before {
  content: "##";  /* Markdown heading levels for h2.*/
  padding-right: .6em; /* Again, put the visual equivalent of a space */
}
pre {
  color: #268bd2;
  line-height: 1.2;
}
pre b {
  color: #839496;
  font-weight: inherit;
}
pre b:before, pre b:after {
  content: "";
}
pre .flex {
  font-size: 3.5vw;
}
ol {
  list-style-type: decimal; /* Provide numbers on the ordered list */
}
a {
 color: #859900; /* Solarized accent green */
 /*
   For browsers that support the new text-decoration-color CSS property, make hyperlink underlines
   a subtle gray shade. Other browsers will just display the same color as the hyperlink. And that
   is more than acceptable, if not as nice.
 */
 -moz-text-decoration-color: #657b83;
 -webkit-text-decoration-color: #657b83;
 text-decoration-color: #657b83;
}
abbr[title] {
  font-weight: normal;
  background-color: #002b36;
  color: #2aa198; /* Magenta accent color */
  padding: 0 .3em;
}
abbr.expanded {
  font-weight: inherit;
  background-color: inherit;
  color: inherit;
  padding: 0;
  text-decoration: none;
}




/* Layout Styles (Mobile-First; Media-Query-based Styles in State, Below)*/
body {
  padding: 1em 1.2em 2em 1.2em;
}
p {
  padding-bottom: 1em;
}
ol,ul,li {
  padding-bottom: 1em;
}
li:last-child {
  padding-bottom: 0em; /* Compliant browsers will remove padding from last li */
}
h2 {
  padding-top: 2em;
}
ol {
  margin-left: 1.2em; /*
                      Offset the list from left with 3ems of margin; list numbers will appear
                      indented two spaces in compared to running text.
                    */
}
dt {
  margin-bottom: 1em;
}

/* Module Styles (Core, Often Repeated Page Elements) */
ul.references li {
  text-indent: -1.2em; /*
                          Negative text indent with equal, positive padding creates a "hanging"
                          indent effect; 1.2 em is about equal to two spaces in monospace
                       */
  padding-left: 1.2em;
  overflow: hidden; /* Hide long URLs that don't break properly */
  text-overflow: ellipsis; /* Indicate hiddenness by displaying an ellipsis */
}
ul.references cite {
  font-style: italic; /* Even though Courier isn't the best font for this, italicize the cites */
}
#header h2 {
  padding-top: 0;
  margin-left: 0;
  color: inherit; /* No special colors on h2 (my name/affiliation) */
  font-weight: normal; /* No bold, either. Make it appear to be a line of running text. */
}
#header h2:before {
  content: none; /* No Markdown hashes, either; make it look like regular running text */
  padding-right: 0; /* Lose the extra padding on h2:before, too */
}

#manifesto-points dd {
  color: #073642;
  background-color: #eee8d5;
}


/* State Styles (Media Queries and JavaScript-dependent Styles) */
.js header h1,
.js header h2,
.js figcaption#ascii-caption,
.js .skip {
  position: absolute;
  left: -20000px;
}

body:after {
  content: "sm";
  display: none;
}
/*
  These styles will need a Modernizr-prefix for browsers that handle content: -- unlike the
  decorative Markdown-style stuff above, this actually matters (it numbers the list). This method is
  way more involved than a simple list-style-style: decimal, but it provides greater flexibility for
  styling the numbers on the list, while keeping things automated.
*/
ol {
  list-style-type: none;
  counter-reset: myCount;
}
ol > li {
  counter-increment: myCount;
  text-indent: -1.8em;
  padding-left: .6em;
}
ol > li:before {
  content: counter(myCount)".";
  padding-right: .6em;
}
abbr[title].expanded {
  color: inherit;
}

@media screen and (min-width: 48em) {
  html {
    font-size: 110%;
  }
  body {
    padding: 1em 0 2em 0;
    margin: 0 auto;
    width: 80%;
  }
  body:after {
    content: "med";
  }
  h1 {
    margin-left: -1.2em;
  }
  h2 {
    margin-left: -1.8em;
  }
  ol {
    margin-left: -0.6em;
  }
  pre .flex {
    font-size: 2.2vw;
  }
}

@media screen and (min-width: 60em) {
  body:after {
    content: "large";
  }
  pre .flex {
    font-size: 2.0vw;
  }
}
