/*

One of the advantages to some lo-fi technologies, like CSS, is that digital
authors can not only execute their discourse or visual design, but leave
behind meaningful, fully human-readable descriptions of the choices made
to bring the discourse or design into being.

And so that's what I've done here: describing the purpose of every single
line of the CSS used in the Lo-Fi Manifesto (with the exception of the
Yahoo! Reset CSS, which basically removes all margin and padding, bolding,
italicizing, etc.)

All of the visual design for the Lo-Fi Manifesto has been achieved in CSS;
the animation effects were done using the MooTools JavaScript library. The
HTML contains only structured content, making it friendly to screen readers,
mobile devices, and even printed pages.

Thanks for taking the time to look at this file. --Karl Stolley, May 2008

*/

/*
==========================================================================
Begin with Eric Meyer's Reset CSS v2.0
==========================================================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
==========================================================================
End Eric Meyer's Reset CSS v2.0
==========================================================================
*/


/*
==========================================================================

The Lo-Fi Manifesto Styles

==========================================================================
*/

/*
  Organizing the styles in roughly the pattern recommended in the book
  *Scalable and Modular Architecture for CSS*, found in partial form
  at https://smacss.com
*/

/* Base Styles (Basic Element Selectors; Fonts and Colors) */

/* Layout Styles (Mobile-First; Media-Query-based Styles in State, Below)*/

/* Module Styles (Core, Often Repeated Page Elements) */

/* State Styles (Media Queries and JavaScript-dependent Styles) */

